body{
    background-color: grey;
    max-width: 40%;
    margin: 100px auto;
    font-family: arial;
    font-size: 150%;
    text-align: center;
}

h1{
    color: blue;

}

h2{
    color: red;
}

p{
    text-align: justify;
}